{% extends 'base.html' %}
{% block main %}
  {% if message %}
    <div id='message'>{{ message }}</div>
  {% endif %}
  <form action="{% url editprofile %}" method="post">
  {% csrf_token %}
  <table id='profiletable' cellpadding="10px" cellspacing="20px">
  {% for field in form %}
   <tr><td class="infotag">{{ field.label }}</td><td class='info'>{{ field }}</td></tr>
  {% endfor %}
  <tr><td></td><td><input type="submit"class="submit" value="Submit"></td></tr>

  </table>

  </form>
{% endblock %}