{% extends 'base.html' %}
{% block main %}
  Thank you for spending time in WILPD. Please visit again.
  <p >
  <br/><br/><br/>
  <a href="{% url home %}" style="color:green;">Return to home</a>
  </p>
{% endblock %}