{% extends "base.html" %}

{% block extralinks %}
<link rel="stylesheet" type="text/css" href="/wilpd/static/css/seeker.css" />
<link rel="stylesheet" type="text/css" href="/wilpd/static/css/ui.datepicker.css" />
<script type="text/javascript" src="/wilpd/static/js/json2.js"></script>
<script type="text/javascript" src="/wilpd/static/js/jquery.form.js"></script>
<script type="text/javascript" src="/wilpd/static/js/ui.datepicker.js"></script>
<script type="text/javascript" src="/wilpd/static/js/seeker.util.js"></script>
<script type="text/javascript" src="/wilpd/static/js/seeker.filter.js"></script>
<script type="text/javascript" src="/wilpd/static/js/seeker.results.js"></script>
<script type="text/javascript" src="/wilpd/static/js/seeker.init.js"></script>
{% endblock %}

{% block main %}

{% block seeker %}
{% endblock %}

{% endblock %}