{% extends 'base.html' %}
{% block script %}

  function generate_options(values)
{
  var options = '<option selected="selected" value="">---------</option>';
  for(i=0;i<values.length;i++)
  {
    options+='<option value="'+values[i][0]+'">'+values[i][1]+'</option>';
  }

  return options;
}

function filterprogramme(company)
{

  $.get(baseurl+'get_progs/',{'company':company },function(progs){
   $("#id_programme").html(generate_options(progs));
  });
}

function binds()
{

  $('#id_company').change(function(){
    filterprogramme($(this).val());
  });


}

$(document).ready(function(){binds();});
{% endblock %}
{% block main %}
  {% if form %}
    <h2 class="inner">Add a Student Batch</h2>
    <form action='' method='post'>
    {% csrf_token %}
    <table id='profiletable'>
    {% for field in form %}
      <tr><td class="infotag">{{ field.label }}</td><td class='info'>{{ field }}</td><td class='error'>{{ field.errors  }}</td></tr>
    {% endfor %}
      <tr><td></td><td><input type="submit"class="submit" value="Submit"></td></tr>
    </table>
  </form>
 {% endif %}
{% endblock %}